<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CapLink Link Saklama Servisi</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.css" >
    <link rel="stylesheet" href="../stylesheets/style.css" >
    <script type="text/javascript" rel="../javascript/bootstrap.min.js"></script>
    <script type="text/javascript" rel="../javascript/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
  </head>
  <body>
    <div id="nav">
      <div id="nav-wrapper">
          <ul>
              <li><a href="#">Caplink</a></li>
          </ul>
      </div>
    </div>
    <div id="wrapper">
      <div id="content">
        <h1 >URL</h1>
          <div class="url_put">
            <form class="form-horizontal">
              <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="formGroupInputLarge">Url Put</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" id="formGroupInputLarge" placeholder="">
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </body>
</html>
